{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Les articles de la catégorie {{ category.label }} ! ✅</h1>

        <a href="{{ path('app_category') }}">Retour</a>

        {% if category.articles | length == 0 %}
            <div>Aucun articles</div>
        {% else %}
            <ul>
               {% for article in category.articles %}
                <li>
                    <a href="{{ path('app_article_detail', {'id': article.id}) }}">{{ article.titre }} (écrit par {{ article.auteur.prenom }} {{ article.auteur.nom|upper }})</a></li>
                {% endfor %}
            </ul>
        {% endif %}


    </div>
{% endblock %}
