{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Les catégories ! ✅</h1>

    {% if categories|length == 0 %}
        <div>Aucune catégorie ...</div>
    {% else %}
        <ul>
            {% for categ in categories %}
           <li>
                <a href="{{ path('app_category_detail', {'id': categ.id}) }}">
                    Les articles de la catégorie {{ categ.label }} ({{ categ.articles|length }} articles)
                </a>
           </li>
            {% endfor %}
        </ul>
    {% endif %}

</div>
{% endblock %}
