{% extends 'base.html.twig' %}

{% block title %}Hello TagController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Les articles du tag {{ tag.libelle}} : </h1>
        <a href="{{ path('app_tag') }}">Retour</a>
        <ul>
            {% for article in tag.articles %}
                <li>
                    <a href="{{ path('app_article_detail', {'id': article.id}) }}">
                     {{ article.titre }}
                    </a>
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}
