{% extends 'base.html.twig' %}

{% block title %}Hello TagController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Les tags présent sur le forum  ✅ : </h1>

    <ul>
        {% for tag in tags %}
            <li>
                <a href="{{ path('app_tag_article', {'id': tag.id}) }}">
                    {{ tag.libelle }} ({{ tag.articles|length }} articles)
                </a>
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
