{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <a href="{{ path('app_category_detail', {'id': article.category.id}) }}">Revenir sur les articles de la catégories</a>
        <h1>{{ article.titre }}</h1>

        <h2>Les tags de cet article : </h2>

        <ul>
            {% for tag in article.tags %}
                <li>{{ tag.libelle }}</li>
            {% endfor %}
        </ul>
        {{ article.auteur.prenom }} -         {{ article.auteur.nom|upper }}

        <div>
            <img style="max-width: 400px" src="{{ article.image }}">
        </div>

        <div>
            {{ article.contenu }}
        </div>

        <h3>Dans la même catégorie : </h3>

        {% for art in article.category.articles %}
            {% if art != article %}
            <div>{{ art.titre }}</div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
